.App {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.logo {
    max-width: 80vw;
    will-change: filter;
    transition: filter 300ms;
    user-select: none;
}

.logo:hover {
    filter: drop-shadow(0 0 3.5em var(--logo-color));
}

.card {
    /* padding-left: 3vw; */
    /* padding-right: 3vw; */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--logo-color);
}

.button-img {
    /* fill: var(--logo-color); */
}

.buttons {
    max-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    gap: 20px;
    /*padding: 2em;
    padding-top: 0; */
}

.sup {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 1em;
    margin-bottom: 1em;
}